{
  "extends": "standard",
  "plugins": [
    "html",
  ],
  "env": {
    "jasmine": true,
    "browser": true,
  },
  "rules": {
      "camelcase": 0,
      "comma-dangle": ["warn", "always"],
  },
}
