{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Linky{% endblock %}</title>
        <meta name="description" content="save yerr links">
        <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    </head>

    <body>
        {% block content %}
        Nothing here...
        {% endblock %}
    </body>
    <script src="{% static 'core/js/index.js' %}"></script>
</html>
