{% extends "core/base.html" %}

{% block nav %}
<header>
    <nav class="main-nav">
        <div class="items">
            <div class="section"><a href="/"><h1 class="title">Linky</h1></a></div>
            <div class="section settings-logout-save">
                <a id="add-icon" class="icon" href="#">+</a>
                <a id="settings-icon" class="icon" href="#">⚙</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<nav class="list-options">
    <div class="search-option-section">
        <a class="icon">🔍</a>
        <input class="search" id="search" placeholder="search" type="search">
    </div>
    <div class="list-archive-option-section">
        {% if page_name == 'list' %}
        <a href="{% url 'index' %}">List</a>
        <a class="inactive" href="{% url 'archive' %}">Archive</a>
        {% else %}
        <a class="inactive" href="{% url 'index' %}">List</a>
        <a href="{% url 'archive' %}">Archive</a>
        {% endif %}
    </div>
</nav>

<ul class="link-container">
    {% if list_items|length > 0 %}
    {% for li in list_items %}
    <li class="display-on-hover-container"tabindex="0">
        <h3 class="link-title"><a href="{{ li.url }}">{{ li.title }}</a></h3>
        <p class="description">{{ li.description }}</p>
        <a class="source" href="{{ li.url }}">{{ li.url }}</a>
        <button class="display-on-hover">Delete</button>
        <button class="display-on-hover">{% if page_name == 'list' %}Archive{% else %}Unarchive{% endif %}</button>
    </li>
    {% endfor %}
    {% else %}
    No items found.
    {% endif %}
</ul>
{% include "core/add_link_modal.html" with form=add_link_form %}
{% include "core/settings_modal.html" with form=settings_form %}
{% include "core/help_modal.html" %}
{% endblock %}
