{% extends 'core/base.html' %}

{% block content %}

<header>
    <nav class="main-nav">
        <div class="items">
            <div class="section"><a href="{% url 'index' %}"><h1 class="title">Linky</h1></a></div>
        </div>
    </nav>
</header>

{% if error %}{{ error }}{% endif %}

<h1>Signup | <a href="{% url 'login' %}">Login</a></h1>

<form action="" method="post">
    <h1>{{ title }}</h1>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Signup">
</form>

{% endblock %}
