$text-gray: #444;
$highlight-yellow: rgb(255, 255, 186);

// background colors
$sepia: #f8f2e3;
$grayblack: #3c3c3c;

html {
  color: $text-gray;
  font-family: georgia, serif;
  font-size: 18px;
}

// container for all of the link sections
.link-container {
  list-style-type: none;
  overflow-wrap: break-word;

  * {
    margin-bottom: .5rem;
  }

  .description,
  .source {
    font-style: italic;
    margin-top: 0;
  }
}

// used to signify a link-section is selected
.active {
  background: $highlight-yellow;
}

.main-nav {
  background: #eee;

  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  a:not(:first-child){
    padding-left: .5rem;
  }

  .section {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
  }
}
