$font-family: georgia, serif;
$base-font-size: 18px;

$text-gray: #444;
$highlight-yellow: rgb(255, 255, 186);
$max-width-main-content: 40em;

// background colors
$sepia: #f8f2e3;
$grayblack: #3c3c3c;
$light-gray: #eee;

html {
  color: $text-gray;
  font-family: $font-family;
  font-size: $base-font-size;
  // background-color: $sepia;
}

body {
  // disable default margin of browser
  margin: 0;
}

a {
  color: inherit;
}

// styling for search <input>
.search {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  width: 60%;
  outline: none;
  height: 1.5rem;
  font-size: 1rem;
  font-family: $font-family;

  &:focus {
    border-color: $text-gray;
  }
}

// container for all of the link sections
.link-container {
  // background-color: $light-gray;
  list-style-type: none;
  margin: 0 auto;
  max-width: $max-width-main-content;
  overflow-wrap: break-word;
  padding-top: 0rem;

  * {
    margin-bottom: .5rem;
  }

  // link section
  li {
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: 5px;
    border-left-style: solid;
    border-left-color: #FFF;
  }

  .active {
    background-color: lighten($light-gray, 3%);
    border-left-color: $text-gray;
  }

  .link-title {
    margin-top: 0;
  }

  .description,
  .source {
    font-style: italic;
    margin-top: 0;
  }
}

.main-nav {
  background: $light-gray;

  a {
    padding: 1.25rem .5rem;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: lighten($text-gray, 10%);
    }

    &:not(:first-child) {
      margin-left: .5rem;
    }

  }

  .icon {
    font-size: 1.5rem;
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .title {
    font-style: italic;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section {
    align-items: center;
    display: flex;
    font-weight: bold;
    text-decoration: none;

    // make sure the last link section doesn't hit the edge of the browser
    &:last-child {
      margin-right: .5rem;
    }
  }

  .settings-logout-save {
    font-size: .8rem;
  }

}

// list, archive, or search
.list-options {
  margin: 0 auto;
  max-width: $max-width-main-content;
  display: flex;
  justify-content: space-between;

  a {
    padding: 1rem .5rem;
    color: inherit;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: lighten($text-gray, 10%);
    }

    &:not(:first-child) {
      margin-left: .5rem;
    }
  }

  .inactive {
    color: lighten($text-gray, 30%);
    font-style: italic;

    &:hover {
      color: lighten($text-gray, 20%);
    }
  }

  .search-option-section {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .list-archive-option-section {
    display: flex;
    align-items: center;
  }

}

.hidden {
  display: none;
  height: 0;
  width: 0;
}

.modal-container {
  background: rgba(0,0,0,0.7);
  bottom: 0;
  display: flex;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal-inner {
  box-sizing: border-box;
  margin: auto;
  position: relative;
  min-width: 320px;
  width: 50%;
}

.modal {
  background-color: $light-gray;
  border-radius: 5px;
  padding-top: 0rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
      padding: 0px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }

    .close {
      font-size: 1.5rem;
    }
  }
  input {
    width: 100%;
    height: 1rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
